# ignore everything
*

# except these
!.gitignore
!README.md
!.nix-channels
!.meta
!.meta/**
!bin
!bin/**

# liberally include everything in our .config
!.config
!.config/**

# and then ignore things we don't want
.config/configstore
.config/dnsproxy/debug.log
.config/gcloud
.config/nixpkgs/**/result
.config/nvim/.netrwhist
.config/nvim/autoload
.config/nvim/tmp/bak/*~
.config/nvim/tmp/swp
.config/nvim/tmp/undo
.config/sh/env.work
.config/tmux/plugins
.config/wslu

# TODO generate authorized_keys out of all my public keys
!.ssh
!.ssh/authorized_keys
!.ssh/autoadd
!.ssh/autoadd/*.pub
