[user]
	name = Andrey Kaipov
	email = akaip002@fiu.edu
[core]
	editor = vim

# For color slots, see http://git-scm.com/docs/git-config
[color]
    ui = true
[color "status"]
    changed = red bold
    untracked = red bold
    added = green bold
[color "diff"]
    meta = yellow bold
    frag = red bold
    old = red bold
    new = green bold
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
