<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Button1</key>
	<integer>1</integer>
	<key>Button2</key>
	<integer>1</integer>
	<key>Button3</key>
	<integer>0</integer>
	<key>Button4</key>
	<integer>0</integer>
	<key>Button4Click</key>
	<integer>0</integer>
	<key>Button4Force</key>
	<integer>0</integer>
	<key>ButtonDominance</key>
	<integer>1</integer>
	<key>ScrollH</key>
	<integer>1</integer>
	<key>ScrollS</key>
	<integer>4</integer>
	<key>ScrollSSize</key>
	<integer>30</integer>
	<key>ScrollV</key>
	<integer>1</integer>
</dict>
</plist>
