<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appswitcher-all-displays</key>
	<true/>
	<key>autohide</key>
	<true/>
	<key>autohide-delay</key>
	<real>0.23999999463558197</real>
	<key>enable-spring-load-actions-on-all-items</key>
	<true/>
	<key>expose-group-by-app</key>
	<false/>
	<key>largesize</key>
	<real>89</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>717805799.13620305</real>
	</array>
	<key>last-messagetrace-stamp</key>
	<real>612463514.40225196</real>
	<key>lastShowIndicatorTime</key>
	<real>675031439.36669397</real>
	<key>launchanim</key>
	<false/>
	<key>loc</key>
	<string>en_US:(null)</string>
	<key>magnification</key>
	<true/>
	<key>mineffect</key>
	<string>scale</string>
	<key>minimize-to-application</key>
	<false/>
	<key>mod-count</key>
	<integer>3436</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>bottom</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1172527470</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEAAAAAEBAABTZWxmIFNl
				cnZpY2UuYXBwCAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				NTf8AgAAAAAIAAAABAMAAH+i/wIAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcU3XU0AAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AFChG3MAAAAIAAAAAAQAAEHFLqhbAAAAJAAAAAEBAABG
				OTFGNjVCQi0wRURGLTRCOTEtOTQzMy1BQjUwOTBFMUZB
				QkMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.jamfsoftware.selfservice.mac</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Self%20Service.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Self Service</string>
				<key>file-mod-date</key>
				<integer>46823214485414</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>104650654194443</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4256184799</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADqkiMD
				AAAAAAgAAAAEAwAA4QU5AwAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxWMdpAAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
				cwAAAAgAAAAABAAAQcVayqOAAAAkAAAAAQEAAEY5MUY2
				NUJCLTBFREYtNEI5MS05NDMzLUFCNTA5MEUxRkFCQxgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>3778786376</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>5286588610347</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1452654455</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUg
				Q2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAA4pCQMAAAAACAAAAAQDAACEWykAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHEFQw5AAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAABQoRtzAAAACAAAAAAEAABBxVGOmIAAACQAAAAB
				AQAARjkxRjY1QkItMEVERi00QjkxLTk0MzMtQUI1MDkw
				RTFGQUJDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3777586486</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>220687787428850</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>880412997</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAOKQkD
				AAAAAAgAAAAEAwAAJZUfAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxB5VTEx9GhgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
				cwAAAAgAAAAABAAAQcVRjpiAAAAkAAAAAQEAAEY5MUY2
				NUJCLTBFREYtNEI5MS05NDMzLUFCNTA5MEUxRkFCQxgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>org.mozilla.firefox</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Firefox.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Firefox</string>
				<key>file-mod-date</key>
				<integer>226498878010065</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>64041740275840</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>880412998</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP///w8I
				AAAABAMAABcAAAD///8PCAAAAAQDAABlWwAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxOxLvQAA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAARjkxRjY1
				QkItMEVERi00QjkxLTk0MzMtQUI1MDkwRTFGQUJDGAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgA
				AAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAA
				ANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAA
				EiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAA
				AAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Settings.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Settings</string>
				<key>file-mod-date</key>
				<integer>3763212410</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3763212410</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>965085018</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABEaXNjb3Jk
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADqkiMD
				AAAAAAgAAAAEAwAALhkSAwAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxVxgNAAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
				cwAAAAgAAAAABAAAQcVayqOAAAAkAAAAAQEAAEY5MUY2
				NUJCLTBFREYtNEI5MS05NDMzLUFCNTA5MEUxRkFCQxgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.hnc.Discord</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Discord.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Discord</string>
				<key>file-mod-date</key>
				<integer>3777902952</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>5286588610347</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1486937939</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va7wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA0AEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zBwAAAAEBAABTYWZlTmV0
				AB0AAAABAQAAU2FmZU5ldCBBdXRoZW50aWNhdGlvbiBD
				bGllbnQAAAAnAAAAAQEAAFNhZmVOZXQgQXV0aGVudGlj
				YXRpb24gQ2xpZW50IFRvb2xzLmFwcAAQAAAAAQYAABAA
				AAAkAAAANAAAAFwAAAAIAAAABAMAAOqSIwMAAAAACAAA
				AAQDAADBLvICAAAAAAgAAAAEAwAAwi7yAgAAAAAIAAAA
				BAMAAMMu8gIAAAAAEAAAAAEGAACkAAAAtAAAAMQAAADU
				AAAACAAAAAAEAABBxS4xRqQC/BgAAAABAgAABAAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAABQoRtzAAAACAAAAAAEAABBxVrKo4AAACQAAAAB
				AQAARjkxRjY1QkItMEVERi00QjkxLTk0MzMtQUI1MDkw
				RTFGQUJDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAC0AAAA/v///wEAAAAAAAAA
				DgAAAAQQAACMAAAAAAAAAAUQAADkAAAAAAAAABAQAAAM
				AQAAAAAAAEAQAAD8AAAAAAAAAAIgAADEAQAAAAAAAAUg
				AAA0AQAAAAAAABAgAABEAQAAAAAAABEgAAB4AQAAAAAA
				ABIgAABYAQAAAAAAABMgAABoAQAAAAAAACAgAACkAQAA
				AAAAADAgAAAsAQAAAAAAAAHQAAAsAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/SafeNet/SafeNet%20Authentication%20Client/SafeNet%20Authentication%20Client%20Tools.app</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>SafeNet Authentication Client Tools.app</string>
				<key>file-mod-date</key>
				<integer>79194378853261</integer>
				<key>file-type</key>
				<integer>12</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>83777108958093</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3617216733</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va6QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAoAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAGAAAAAQEAAGFuZHJleQAACQAA
				AAEBAABEb3dubG9hZHMAAAAMAAAAAQYAABAAAAAgAAAA
				MAAAAAgAAAAEAwAAhFwAAAAAAAAIAAAABAMAANnDAwAA
				AAAACAAAAAQDAAAMxAMAAAAAAAwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBw9hCZoAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAABAAAA
				AAAAAAwAAAABAQAAYW5kcmV5a2FpcG92BAAAAAMDAAD1
				AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50
				b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcUd
				jU6AAAAkAAAAAQEAAEY5MUY2NUJCLTBFREYtNEI5MS05
				NDMzLUFCNTA5MEUxRkFCQxgAAAABAgAAgQAAAAEAAADv
				EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
				AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABEAAAAAAAA
				AAUQAACIAAAAAAAAABAQAACsAAAAAAAAAEAQAACcAAAA
				AAAAAAIgAACMAQAAAAAAAAUgAAD8AAAAAAAAABAgAAAM
				AQAAAAAAABEgAABAAQAAAAAAABIgAAAgAQAAAAAAABMg
				AAAwAQAAAAAAACAgAABsAQAAAAAAADAgAACYAQAAAAAA
				AAHAAADMAAAAAAAAABHAAADcAAAAAAAAABLAAADwAAAA
				AAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/andrey/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>226198215582912</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>84919562478113</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>246302820</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDQAAAAEBAAAxUGFzc3dv
				cmQuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				l3ntAgAAAAAIAAAABAMAABKt7QIAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcUnKEFgQL8YAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AFChG3MAAAAIAAAAAAQAAEHFHY1OgAAAJAAAAAEBAABG
				OTFGNjVCQi0wRURGLTRCOTEtOTQzMy1BQjUwOTBFMUZB
				QkMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.1password.1password</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/1Password.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>1Password</string>
				<key>file-mod-date</key>
				<integer>19704779159919</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>180675861083066</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1157651146</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDQAAAAEBAAAxUGFzc3dv
				cmQuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				6pIjAwAAAAAIAAAABAMAAJHBIwMAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcVfz0/Zr68YAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AFChG3MAAAAIAAAAAAQAAEHFWsqjgAAAJAAAAAEBAABG
				OTFGNjVCQi0wRURGLTRCOTEtOTQzMy1BQjUwOTBFMUZB
				QkMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.1password.1password</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/1Password.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>1Password</string>
				<key>file-mod-date</key>
				<integer>197263036323743</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>5286588610347</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1157651154</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAwR8AAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcVayqOAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAFChG3MAAAAkAAAAAQEAAEY5MUY2NUJCLTBFREYt
				NEI5MS05NDMzLUFCNTA5MEUxRkFCQxgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.MobileSMS</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>3777695303</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3777695303</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1157651155</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABSdW5lTGl0
				ZS5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADqkiMD
				AAAAAAgAAAAEAwAAk6QVAgAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxLO5EQAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEb
				cwAAAAgAAAAABAAAQcVayqOAAAAkAAAAAQEAAEY5MUY2
				NUJCLTBFREYtNEI5MS05NDMzLUFCNTA5MEUxRkFCQxgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>net.runelite.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/RuneLite.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>RuneLite</string>
				<key>file-mod-date</key>
				<integer>3755797282</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>5286588610347</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>region</key>
	<string>US</string>
	<key>show-process-indicators</key>
	<true/>
	<key>show-recents</key>
	<true/>
	<key>showhidden</key>
	<true/>
	<key>static-only</key>
	<false/>
	<key>tilesize</key>
	<real>65</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-bl-corner</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>4</integer>
	<key>wvous-tl-corner</key>
	<integer>1</integer>
	<key>wvous-tr-corner</key>
	<integer>12</integer>
</dict>
</plist>
