<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>401</real>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict/>
	<key>bottomLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>121</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>bottomRight</key>
	<dict>
		<key>keyCode</key>
		<integer>119</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>center</key>
	<dict>
		<key>keyCode</key>
		<integer>47</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>disabledApps</key>
	<string>["com.jetbrains.goland"]</string>
	<key>larger</key>
	<dict>
		<key>keyCode</key>
		<integer>24</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>lastVersion</key>
	<string>53</string>
	<key>launchOnLogin</key>
	<true/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>0</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>maximizeHeight</key>
	<dict/>
	<key>moveLeft</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAChC1UkbnVsbAgRGiQpMjdJTFFT
	VQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>moveRight</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAChC1UkbnVsbAgRGiQpMjdJTFFT
	VQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>nextDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>1703936</integer>
	</dict>
	<key>previousDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>123</integer>
		<key>modifierFlags</key>
		<integer>1703936</integer>
	</dict>
	<key>restore</key>
	<dict/>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>124</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>smaller</key>
	<dict>
		<key>keyCode</key>
		<integer>27</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>0</integer>
	<key>topHalf</key>
	<dict/>
	<key>topLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>115</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>topRight</key>
	<dict>
		<key>keyCode</key>
		<integer>116</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
</dict>
</plist>
