<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>largesize</key>
	<real>82</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>674404528.09981704</real>
	</array>
	<key>last-messagetrace-stamp</key>
	<real>612463514.40225196</real>
	<key>lastShowIndicatorTime</key>
	<real>674162815.10308802</real>
	<key>loc</key>
	<string>en_US:US</string>
	<key>magnification</key>
	<true/>
	<key>minimize-to-application</key>
	<false/>
	<key>mod-count</key>
	<integer>276</integer>
	<key>orientation</key>
	<string>bottom</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>3782826652</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAlAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zBQAAAAEBAABDaXNjbwAA
				ACsAAAABAQAAQ2lzY28gQW55Q29ubmVjdCBTZWN1cmUg
				TW9iaWxpdHkgQ2xpZW50LmFwcAAMAAAAAQYAABAAAAAk
				AAAANAAAAAgAAAAEAwAAuaAOAAAAAAAIAAAABAMAAM0K
				AQAAAAAACAAAAAQDAADOCgEAAAAAAAwAAAABBgAAfAAA
				AIwAAACcAAAACAAAAAAEAABBw7Bj7YAAABgAAAABAgAA
				AgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABm
				aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
				AAAAkIKW5wAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEA
				AEM0NjQyNTVCLUMyNUYtNEQ5Mi1COUExLTE0RDA3Qzgx
				ODUzOBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAA
				AAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEA
				AAAAAAAADQAAAAQQAABoAAAAAAAAAAUQAACsAAAAAAAA
				ABAQAADQAAAAAAAAAEAQAADAAAAAAAAAAAIgAACAAQAA
				AAAAAAUgAADwAAAAAAAAABAgAAAAAQAAAAAAABEgAAA0
				AQAAAAAAABIgAAAUAQAAAAAAABMgAAAkAQAAAAAAACAg
				AABgAQAAAAAAADAgAACMAQAAAAAAABDQAAAEAAAAAAAA
				AA==
				</data>
				<key>bundle-identifier</key>
				<string>com.cisco.anyconnect.gui</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Cisco/Cisco%20AnyConnect%20Secure%20Mobility%20Client.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Cisco AnyConnect Secure Mobility Client</string>
				<key>file-mod-date</key>
				<integer>63818351778443</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>83175769381510</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>868184477</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUg
				Q2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAALmgDgAAAAAACAAAAAQDAACmXjcAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHD37mHgAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACQgpbnAAAACAAAAAAEAABBw9g5wYAAACQAAAAB
				AQAAQzQ2NDI1NUItQzI1Ri00RDkyLUI5QTEtMTREMDdD
				ODE4NTM4GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3732739709</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>139598760819920</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2483342276</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFQAAAAEBAABNaWNyb3Nv
				ZnQgT3V0bG9vay5hcHAAAAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAAA7z30AAAAAAAgAAAAEAwAADSt/AAAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBw93KgAAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAA
				AAEFAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
				bnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAEAABB
				w/d7NIAAACQAAAABAQAAQzQ2NDI1NUItQzI1Ri00RDky
				LUI5QTEtMTREMDdDODE4NTM4GAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAC0AAAA
				/v///wEAAAAAAAAADgAAAAQQAABEAAAAAAAAAAUQAAB0
				AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg
				AABMAQAAAAAAAAUgAAC8AAAAAAAAABAgAADMAAAAAAAA
				ABEgAAAAAQAAAAAAABIgAADgAAAAAAAAABMgAADwAAAA
				AAAAACAgAAAsAQAAAAAAADAgAAC0AAAAAAAAAAHQAAC0
				AAAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.Outlook</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Microsoft%20Outlook.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Microsoft Outlook</string>
				<key>file-mod-date</key>
				<integer>264874366980408</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>205500740660905</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3577121897</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA7z30A
				AAAAAAgAAAAEAwAAj/QbAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBw6zwJoAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcP3ezSAAAAkAAAAAQEAAEM0NjQy
				NTVCLUMyNUYtNEQ5Mi1COUExLTE0RDA3QzgxODUzOBgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>3721353549</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>205500740660905</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3577121886</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAC5oA4A
				AAAAAAgAAAAEAwAAe3ICAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBw9WOsYAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAAEM0NjQy
				NTVCLUMyNUYtNEQ5Mi1COUExLTE0RDA3QzgxODUzOBgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>org.mozilla.firefox</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Firefox.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Firefox</string>
				<key>file-mod-date</key>
				<integer>3726677603</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>10324536999082</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array/>
	<key>recent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>4011546357</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAA6okAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcP3ezSAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAAEM0NjQyNTVCLUMyNUYt
				NEQ5Mi1COUExLTE0RDA3QzgxODUzOBgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.MobileSMS</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>3731124073</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3731124073</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4011546362</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAkAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJt
				aW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAI
				AAAABAMAABUAAAD///8PCAAAAAQDAAAXAAAA////DwgA
				AAAEAwAA+D0BAP///w8IAAAABAMAAPaoAQD///8PEAAA
				AAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBw/d7
				NIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAA
				AAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50
				b3NoIEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAAQzQ2
				NDI1NUItQzI1Ri00RDkyLUI5QTEtMTREMDdDODE4NTM4
				GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
				AAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAA
				AAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAA
				ANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAA
				BSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAA
				AAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwB
				AAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Terminal</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Utilities/Terminal.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Terminal</string>
				<key>file-mod-date</key>
				<integer>3731124073</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3731124073</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4011546363</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAmAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAVXRpbGl0aWVzAAAAFAAAAAEBAABBY3Rp
				dml0eSBNb25pdG9yLmFwcBAAAAABBgAAEAAAACAAAAA0
				AAAASAAAAAgAAAAEAwAAFQAAAP///w8IAAAABAMAABcA
				AAD///8PCAAAAAQDAAD4PQEA////DwgAAAAEAwAA+j0B
				AP///w8QAAAAAQYAAHwAAACMAAAAnAAAAKwAAAAIAAAA
				AAQAAEHD93s0gAAAGAAAAAECAAACAAAAAAAAAA8AAAAA
				AAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
				AABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAAJAAA
				AAEBAABDNDY0MjU1Qi1DMjVGLTREOTItQjlBMS0xNEQw
				N0M4MTg1MzgYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAA
				AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7/
				//8BAAAAAAAAAA0AAAAEEAAAZAAAAAAAAAAFEAAAvAAA
				AAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAACIAAA
				hAEAAAAAAAAFIAAABAEAAAAAAAAQIAAAFAEAAAAAAAAR
				IAAAOAEAAAAAAAASIAAAKAEAAAAAAAATIAAA1AAAAAAA
				AAAgIAAAZAEAAAAAAAAwIAAAkAEAAAAAAAAQ0AAABAAA
				AAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.ActivityMonitor</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Utilities/Activity%20Monitor.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Activity Monitor</string>
				<key>file-mod-date</key>
				<integer>3731124073</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3731124073</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>region</key>
	<string>US</string>
	<key>show-process-indicators</key>
	<true/>
	<key>show-recents</key>
	<true/>
	<key>tilesize</key>
	<real>67</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>14</integer>
</dict>
</plist>
