<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>largesize</key>
	<real>82</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>657132770.72471297</real>
	</array>
	<key>last-messagetrace-stamp</key>
	<real>648421303.92774701</real>
	<key>loc</key>
	<string>en_US:US</string>
	<key>magnification</key>
	<true/>
	<key>minimize-to-application</key>
	<false/>
	<key>mod-count</key>
	<integer>726</integer>
	<key>orientation</key>
	<string>bottom</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>180129288</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAeAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAATGF1bmNocGFkLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAADRWAAA////DwgAAAAE
				AwAAMdAGAP///w8IAAAABAMAAKBPBwD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHBn+P5AAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
				AAAABAMAAACgIGh0AAAACAAAAAAEAABBwbsZK9pmpSQA
				AAABAQAAREIyMkY1QTItRTBCMy00RjhCLTlFQ0UtQzdG
				RTAxOEQzNjYzGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
				AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAJAA
				AAAAAAAAEBAAALQAAAAAAAAAQBAAAKQAAAAAAAAAAiAA
				AGQBAAAAAAAABSAAANQAAAAAAAAAECAAAOQAAAAAAAAA
				ESAAABgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAAgBAAAA
				AAAAICAAAEQBAAAAAAAAMCAAAHABAAAAAAAAENAAAAQA
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.launchpad.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Launchpad.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Launchpad</string>
				<key>file-mod-date</key>
				<integer>195308723633868</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>parent-mod-date</key>
				<integer>3656093106</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>506065780</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAX1YcD
				AAAAAAgAAAAEAwAAp4QzAgAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwvydhAAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
				dAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAERCMjJG
				NUEyLUUwQjMtNEY4Qi05RUNFLUM3RkUwMThEMzY2MxgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>org.mozilla.firefox</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Firefox.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Firefox</string>
				<key>file-mod-date</key>
				<integer>190403912534126</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>274787135943283</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3480388093</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAABY4AAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcHeRIAAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAKAgaHQAAAAkAAAAAQEAAERCMjJGNUEyLUUwQjMt
				NEY4Qi05RUNFLUM3RkUwMThEMzY2MxgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.MobileSMS</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>3660710400</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3660710400</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2988204539</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA4AEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAHAAAAAQEAAGFuZHJleWsADAAA
				AAEBAABBcHBsaWNhdGlvbnMIAAAAAQEAAE5peCBBcHBz
				CQAAAAEBAABpVGVybS5hcHAAAAAUAAAAAQYAABAAAAAg
				AAAAMAAAAEQAAABUAAAACAAAAAQDAACdUwAAAAAAAAgA
				AAAEAwAAybYGAAAAAAAIAAAABAMAABpWKgEAAAAACAAA
				AAQDAABGg00BAAAAAAgAAAAEAwAALaDSAwAAAAAUAAAA
				AQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABB
				w38XUqHkChgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAArmGK
				EwgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB3kSA
				AAAAJAAAAAEBAABEQjIyRjVBMi1FMEIzLTRGOEItOUVD
				RS1DN0ZFMDE4RDM2NjMYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				zAAAAP7///8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAF
				EAAA1AAAAAAAAAAQEAAAAAEAAAAAAABAEAAA8AAAAAAA
				AAACIAAAzAEAAAAAAAAFIAAAPAEAAAAAAAAQIAAATAEA
				AAAAAAARIAAAgAEAAAAAAAASIAAAYAEAAAAAAAATIAAA
				cAEAAAAAAAAgIAAArAEAAAAAAAAwIAAA2AEAAAAAAAAB
				wAAAIAEAAAAAAAARwAAAIAAAAAAAAAASwAAAMAEAAAAA
				AAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.googlecode.iterm2</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/andreyk/Applications/Nix%20Apps/iTerm.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iTerm</string>
				<key>file-mod-date</key>
				<integer>74577232504741</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>48158891608451</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va7wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAuAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAHAAAAAQEAAGFuZHJleWsACQAA
				AAEBAABEb3dubG9hZHMAAAALAAAAAQEAAFJpcGNvcmQu
				YXBwABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAE
				AwAAnVMAAAAAAAAIAAAABAMAAMm2BgAAAAAACAAAAAQD
				AAAAtwYAAAAAAAgAAAAEAwAAV0L8AwAAAAAQAAAAAQYA
				AHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHDNV3QAAAA
				GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
				AAAABAMAAAIAAAAAAAAABAAAAAMDAACuYYoTCAAAAAEJ
				AABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAA
				AAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAA
				AQEAAERCMjJGNUEyLUUwQjMtNEY4Qi05RUNFLUM3RkUw
				MThEMzY2MxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
				AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v//
				/wEAAAAAAAAAEAAAAAQQAABYAAAAAAAAAAUQAACwAAAA
				AAAAABAQAADYAAAAAAAAAEAQAADIAAAAAAAAAAIgAACk
				AQAAAAAAAAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEg
				AABYAQAAAAAAABIgAAA4AQAAAAAAABMgAABIAQAAAAAA
				ACAgAACEAQAAAAAAADAgAACwAQAAAAAAAAHAAAD4AAAA
				AAAAABHAAAAgAAAAAAAAABLAAAAIAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.cancelfm.Ripcord</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/andreyk/Downloads/Ripcord.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Ripcord</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>180129307</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va2ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAgAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxYAAAABAQAAU3lzdGVtIFByZWZlcmVuY2VzLmFwcAAA
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAANFYAAD/
				//8PCAAAAAQDAAAx0AYA////DwgAAAAEAwAAr5oHAP//
				/w8MAAAAAQYAAGgAAAB4AAAAiAAAAAgAAAAABAAAQcGw
				n+KAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB
				uxkr2malJAAAAAEBAABEQjIyRjVBMi1FMEIzLTRGOEIt
				OUVDRS1DN0ZFMDE4RDM2NjMYAAAAAQIAAIEAAAABAAAA
				7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
				BQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAVAAAAAAA
				AAAFEAAAmAAAAAAAAAAQEAAAvAAAAAAAAABAEAAArAAA
				AAAAAAACIAAAbAEAAAAAAAAFIAAA3AAAAAAAAAAQIAAA
				7AAAAAAAAAARIAAAIAEAAAAAAAASIAAAAAEAAAAAAAAT
				IAAAEAEAAAAAAAAgIAAATAEAAAAAAAAwIAAAeAEAAAAA
				AAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Preferences.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Preferences</string>
				<key>file-mod-date</key>
				<integer>46750129232005</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3656093106</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>180129308</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va5ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAjAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAHAAAAAQEAAGFuZHJleWsACQAA
				AAEBAABEb3dubG9hZHMAAAAMAAAAAQYAABAAAAAgAAAA
				MAAAAAgAAAAEAwAAnVMAAAAAAAAIAAAABAMAAMm2BgAA
				AAAACAAAAAQDAAAAtwYAAAAAAAwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBwVOc/AAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAABAAAA
				AAAAAAQAAAADAwAArmGKEwgAAAABCQAAZmlsZTovLy8M
				AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQA
				AAAIAAAAAAQAAEHB3kSAAAAAJAAAAAEBAABEQjIyRjVB
				Mi1FMEIzLTRGOEItOUVDRS1DN0ZFMDE4RDM2NjMYAAAA
				AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
				AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
				AAAEEAAARAAAAAAAAAAFEAAAiAAAAAAAAAAQEAAArAAA
				AAAAAABAEAAAnAAAAAAAAAACIAAAeAEAAAAAAAAFIAAA
				6AAAAAAAAAAQIAAA+AAAAAAAAAARIAAALAEAAAAAAAAS
				IAAADAEAAAAAAAATIAAAHAEAAAAAAAAgIAAAWAEAAAAA
				AAAwIAAAhAEAAAAAAAABwAAAzAAAAAAAAAARwAAAIAAA
				AAAAAAASwAAA3AAAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/andreyk/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>236695028499112</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>137764751803192</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>2693351710</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEgAAAAEBAABDeWJlckdo
				b3N0IFZQTi5hcHAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAABfVhwMAAAAACAAAAAQDAACuGFUCAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHDASASgAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACgIGh0AAAACAAAAAAEAABBwd5EgAAAACQAAAAB
				AQAAREIyMkY1QTItRTBCMy00RjhCLTlFQ0UtQzdGRTAx
				OEQzNjYzGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.cyberghostsrl.cyberghostmac</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/CyberGhost%20VPN.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>CyberGhost VPN</string>
				<key>file-mod-date</key>
				<integer>21160708464805</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>274787135943283</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2693351711</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABQaW5nSUQu
				YXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAX1YcD
				AAAAAAgAAAAEAwAAaXQTAQAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwhjtbIAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
				dAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAERCMjJG
				NUEyLUUwQjMtNEY4Qi05RUNFLUM3RkUwMThEMzY2MxgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.pingidentity.pingid.pcclient</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/PingID.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>PingID</string>
				<key>file-mod-date</key>
				<integer>82114875700857</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>274787135943283</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2693351713</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDwAAAAEBAAAxUGFzc3dv
				cmQgNy5hcHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				F9WHAwAAAAAIAAAABAMAAKSPrAMAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcNhoN+AAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AKAgaHQAAAAIAAAAAAQAAEHB3kSAAAAAJAAAAAEBAABE
				QjIyRjVBMi1FMEIzLTRGOEItOUVDRS1DN0ZFMDE4RDM2
				NjMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.agilebits.onepassword7</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/1Password%207.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>1Password 7</string>
				<key>file-mod-date</key>
				<integer>3711482559</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>274787135943283</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>region</key>
	<string>US</string>
	<key>show-process-indicators</key>
	<true/>
	<key>show-recents</key>
	<true/>
	<key>tilesize</key>
	<real>63</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
